<div id="main" class="devise-1">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-12 col-md-6 mr-auto ml-auto">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <%= form_for @user, as: resource_name, url: employee_user_path,
                           html: { class: "form-horizontal", novalidate: true } do |f| %>
                <%= f.error_notification %>

                <%= f.form_group :employee_id, class: "row" do |f| %>
                  <%= f.label "Empleado", class: "form-label" %>
                  <%= f.label @employee.full_name, class: "form-control" %>
                  <%= f.error_messages %>
                <% end %>

                <%= f.form_group :email, class: "row" do |f| %>
                  <%= f.label :email, class: "form-label" %>
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                  <%= f.error_messages %>
                <% end %>

                <% if @user.id %>
                  <p>*puede dejar la contraseña en blanco si solo desea actualizar el correo</p>
                <% end %>

                <%= f.form_group :password, class: "row" do |f| %>
                  <%= f.label :password, class: "form-label" %>
                  <%= f.password_field :password, value: @password, class: "form-control" %>
                  <%= f.error_messages %>
                <% end %>

                <%= f.form_group :password_confirmation, class: "row" do |f| %>
                  <%= f.label :password_confirmation, class: "form-label" %>
                  <%= f.password_field :password_confirmation, value: @password, class: "form-control" %>
                  <%= f.error_messages %>
                <% end %>

                <div class="row d-flex align-items-center mt-5">
                  <%= f.submit "Guardar", class: "btn btn-primary ml-auto" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>