<% @title = "Lista de clientes" %>

<% content_for :description do %>
  <p></p>
<% end %>

<% content_for :actions do %>
  <div class="pull-right">
    <%= link_to customers_path(format: :xlsx), class: 'btn btn-primary btn-large' do %>
      <%= fa_icon_tag "file-excel-o " %> Exportar
    <% end %>

    <%= link_to new_customer_path, class: 'btn btn-primary btn-large' do %>
      <%= fa_icon_tag "plus" %> Agregar cliente
    <% end %>
  </div>
<% end %>

<%= form_tag(customers_path, :method => "get", id: "search-form", class: "horizontal-form") do %>
  <div class="form-inputs row">
    <div class="col-9 col-sm-10">
      <%= text_field_tag :search, params[:search], placeholder: "Buscar cliente", class: "form-control" %>
    </div>
    <div class="">
      <%= submit_tag "Buscar", class: "btn btn-primary btn-large center" %>
    </div>
  </div>
<% end %>

<br>

<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <table class="table table-striped table-hover table-sm-responsive">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>P. preferencial</th>
            <th>Descuento</th>
            <th>Estado</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.name %></td>
              <td><%= customer.phone %></td>
              <td><%= customer.email %></td>
              <td><%= customer.preferential_price_display %></td>
              <td><%= customer.discount %></td>
              <td>
                <span class="badge badge-<%= customer.status ? "success" : "danger" %>">
                  <%= customer.status ? "Activo" : "Inactivo" %>
                </span>
              </td>
              <td class="actions text-right">
                <div class="btn-group">
                  <%= link_to theme_icon_tag("eye"), customer, 'data-toggle': 'tooltip', title: 'Ver', class: "btn btn-link" %>
                  <%= link_to theme_icon_tag("pencil-alt"), edit_customer_path(customer), 'data-toggle': 'tooltip', title: 'Editar', class: "btn btn-link" %>
                </div>
              </td>
            </tr>
          <% end %>
          <% if @customers.length == 0 %>
            <tr>
              <td colspan=42 class='text-center'>No hay clientes registrados.</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <%= will_paginate @customers if @customers.respond_to?(:total_pages) %>
    </div>
  </div>
</div>
