<% @title = "Showing customer" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/Customers/show.html.erb</code>.</p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Provincia</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.province.name %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Telefono</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.phone %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Email</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.email %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">P. preferencial</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.preferential_price_display %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Descuento</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.discount %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Exonerar IVA</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.exonerate_iva ? "Si" : "No" %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Exonerar 1%</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.exonerate_1 ? "Si" : "No"%>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Exonerar 2%</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.exonerate_2 ? "Si" : "No"%>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Credit limit</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.credit_limit %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Credit time limit</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.credit_time_limit %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Interest rate</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.interest_rate %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Direction</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.direction %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Comments</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.comments %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Status</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.status %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">User</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.user_id %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Type</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @customer.type_customer %>
                  </span>
              </div>
            </div>

            <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_customer_path(@customer), class: 'btn btn-primary' %>
                <%= link_to 'Back', customers_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
