<% @title = "Lista de categorías" %>

<% content_for :description do %>
  <p></p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_product_category_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= fa_icon_tag "plus" %> Agregar categoría
  <% end %>
<% end %>

<%= form_tag(product_categories_path, :method => "get", id: "search-form", class: "horizontal-form") do %>
  <div class="form-inputs row">
    <div class="col-9 col-sm-10">
      <%= text_field_tag :search, params[:search], placeholder: "Buscar categoría", class: "form-control" %>
    </div>
    <div class="">
      <%= submit_tag "Buscar", class: "btn btn-primary btn-large center" %>
    </div>
  </div>
<% end %>

<br>
<div class="card">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @product_categories.each do |product_category| %>
        <tr>
          <td><%= product_category.name %></td>
          <td>
            <span class="badge badge-<%= product_category.status ? "success" : "danger" %>"><%= product_category.status ? "Activo" : "Inactivo" %></span>
          </td>
          <td class="actions text-right">
            <div class="btn-group">
              <%= link_to theme_icon_tag("eye"), product_category, 'data-toggle': 'tooltip', title: 'Ver', class: "btn btn-link" %>
              <%= link_to theme_icon_tag("pencil-alt"), edit_product_category_path(product_category), 'data-toggle': 'tooltip', title: 'Editar', class: "btn btn-link" %>
              <%#= link_to theme_icon_tag("trash"), product_category, 'data-toggle': 'tooltip', title: 'Delete', data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-link' %>
            </div>
          </td>
        </tr>
      <% end %>
      <% if @product_categories.length == 0 %>
        <tr>
          <td colspan=42 class='text-center'>No hay categorías registradas</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @product_categories, :previous_label => '<', :next_label => '>' if @product_categories.respond_to?(:total_pages) %>
<br>
