<% @title = "Ver categoría" %>

<% content_for :description do %>
  <p></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Nombre</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @product_category.name %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Estado</label>
              <div class="col-12 col-md-10">
                  <span>
                    <span class="badge badge-<%= @product_category.status ? "success" : "danger" %>"><%= @product_category.status ? "Activo" : "Inactivo" %></span>
                  </span>
              </div>
            </div>

            <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Editar', edit_product_category_path(@product_category), class: 'btn btn-primary' %>
                <%= link_to 'Atras', product_categories_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
