<% @title = "Países" %>

<% content_for :description do %>
  <p></p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_country_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= fa_icon_tag "plus" %> Agregar país
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card card-sheet sheet-condensed">
        <table class="table table-striped table-hover table-sm-responsive">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @countries.each do |country| %>
            <tr>
              <td><%= country.name %></td>
              <td>
                <span class="badge badge-<%= country.status ? "success" : "danger" %>">
                  <%= country.status ? "Activo" : "Inactivo" %>
                </span>
              </td>

              <td class="actions text-right">
                <div class="btn-group">
                  <%= link_to theme_icon_tag("eye"), country, 'data-toggle': 'tooltip', title: 'Ver', class: "btn btn-link" %>
                  <%= link_to theme_icon_tag("pencil-alt"), edit_country_path(country), 'data-toggle': 'tooltip', title: 'Editar', class: "btn btn-link" %>
                  <%#= link_to theme_icon_tag("trash"), country, 'data-toggle': 'tooltip', title: 'Delete', data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-link' %>
                </div>
              </td>
            </tr>
          <% end %>
          <% if @countries.length == 0 %>
            <tr>
              <td colspan=42 class='text-center'>No hay paises registrados</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>


    </div>

  </div>
</div>
