<% @title = "País" %>

<%# content_for :description do %>
<!--  <p></p>-->
<%# end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Nombre</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @country.name %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Estado</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span class="badge badge-<%= @country.status ? "success" : "danger" %>">
                  <%= @country.status ? "Activo" : "Inactivo" %>
                </span>
              </div>
            </div>

            <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Editar', edit_country_path(@country), class: 'btn btn-primary' %>
                <%= link_to 'Atrás', countries_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
