<%= email_message_section do %>
  <%= email_message_spacer 2 %>
  <%= email_message_body_text do %>
    Hola <%= @resource.email %>! Ha solicitado un enlace para cambiar su contraseña, puede hacerlo a través del siguiente enlace
  <% end %>

  <%= email_message_button do %>
    <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token),  style: 'color: #fff;' %></span>
  <% end %>

  <%= email_message_spacer 2 %>

  <%= email_message_small_text do %>
    Si no solicitó esta acción, por favor ignore este correo. Su contraseña no cambiará hasta que acceda al enlace de arriba y cree una nueva.
  <% end %>

  <%= email_message_spacer 2 %>
<% end %>