<% @title = "Listado de departamentos/provincias de " + @country.name %>

<% content_for :description do %>
  <p></p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_country_province_path(@country), class: 'btn btn-primary btn-large pull-right' do %>
    <%= fa_icon_tag "plus" %> Agregar departamento/provincia
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card card-sheet sheet-condensed">
        <table class="table table-striped table-hover table-sm-responsive">
          <thead>
          <tr>
            <th>País</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @provinces.each do |province| %>
            <tr>
              <td><%= @country.name %></td>
              <td><%= province.name %></td>
              <td>
                <span class="badge badge-<%= province.status ? "success" : "danger" %>">
                  <%= province.status ? "Activo" : "Inactivo" %>
                </span>
              </td>
              <td class="actions text-right">
                <div class="btn-group">
                  <%= link_to theme_icon_tag("eye"), country_province_path(province.country_id, province), 'data-toggle': 'tooltip', title: 'Ver', class: "btn btn-link" %>
                  <%= link_to theme_icon_tag("pencil-alt"), edit_country_province_path(@country, province), 'data-toggle': 'tooltip', title: 'Editar', class: "btn btn-link" %>
                  <%#= link_to theme_icon_tag("trash"), province, 'data-toggle': 'tooltip', title: 'Delete', data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-link' %>
                </div>
              </td>
            </tr>
          <% end %>
          <% if @provinces.length == 0 %>
            <tr>
              <td colspan=42 class='text-center'>No hay departamentos/provincias registradas</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <%# Remove the trailing if condition if you're using pagination. %>
      <%= will_paginate @provinces if @provinces.respond_to?(:total_pages) %>

    </div>
  </div>
</div>
