<%= form_for(@product, html: {class: 'form-horizontal row'}) do |f| %>

  <div id="sidebar" class="col-12 col-md-4">
    <div class="card card-sheet">
      <div class="card-body">
        <div class="align-items-center justify-content-center flex-column pb-0">
          <div class="fileinput fileinput-avatar fileinput-new d-flex flex-column align-items-center" data-provides="fileinput">
            <div class="fileinput-new">
              <% if @product.image.attached? %>
                <%= image_tag url_for(@product.image) %>
              <% else %>
                <%= image_tag("no-image.png", "data-turbolinks-permanent": true) %>
              <% end %>
            </div>
            <div class="fileinput-preview fileinput-exists square"></div>
            <div class="avatar-controls">
            <span class="btn btn-sm btn-dark btn-link btn-file">
              <span class="fileinput-new"><i class="ti-upload "></i></span>
              <span class="fileinput-exists"><i class="ti-upload "></i></span>
              <%= f.file_field :image, id: "select-image", accept: "image/*" %>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8">
    <div class="card card-sheet">
      <div class="card-body">
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.form_group :product_category_id, class: 'row' do |f| %>
            <%= f.label "Categoría", class: 'control-label col-md-3' %>
            <div class="col-12 col-md-9">
              <%= f.collection_select(:product_category_id, @categories, :id, :name, {:prompt => "Seleccione"}, {class: "form-control col-md-12", required: true}) %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :name, class: 'row' do |f| %>
            <%= f.label "Nombre", class: 'control-label col-md-3' %>
            <div class='col-12 col-md-9'>
              <%= f.text_field :name, class: 'form-control', required: true  %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :bar_code, class: 'row' do |f| %>
            <%= f.label "código de barra", class: 'control-label col-md-3' %>
            <div class='col-12 col-md-9'>
              <%= f.text_field :bar_code, class: 'form-control', required: true  %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :has_iva, class: 'row' do |f| %>
            <%= f.label "IVA", class: 'control-label col-md-3' %>
            <div class='col-12 col-md-1 '>
              <%= f.check_box :has_iva, class: 'form-control', required: true  %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :need_prescription, class: 'row' do |f| %>
            <%= f.label "Precripción", class: 'control-label col-md-3' %>
            <div class='col-12 col-md-1'>
              <%= f.check_box :need_prescription, class: 'form-control', required: true  %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :stock, class: 'row' do |f| %>
            <%= f.label :stock, class: 'control-label col-md-3' %>
            <div class='col-12 col-md-9'>
              <%= f.number_field :stock, class: 'form-control', required: true  %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :min_stock, class: 'row' do |f| %>
            <%= f.label :min_stock, class: 'control-label col-md-3' %>
            <div class='col-12 col-md-9'>
              <%= f.number_field :min_stock, class: 'form-control', required: true  %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :cost, class: 'row' do |f| %>
            <%= f.label "costo", class: 'control-label col-md-3' %>
            <div class='col-12 col-md-9'>
              <%= f.text_field :cost, class: 'form-control', required: true  %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :measure_id, class: 'row' do |f| %>
            <%= f.label "Medida", class: 'control-label col-md-3' %>
            <div class='col-12 col-md-5'>
              <%= f.text_field :measure, class: 'form-control', required: true  %>
            </div>
            <div class='col-12 col-md-4'>
              <%= f.collection_select(:measure_id, @measures, :id, :code, {:prompt => "Seleccione"}, {class: "form-control col-md-12", required: true}) %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :description, class: 'row' do |f| %>
            <%= f.label "Descripción", class: 'control-label col-md-3' %>
            <div class='col-12 col-md-9'>
              <%= f.text_area :description, class: 'form-control', required: true %>
              <%= f.error_messages %>
            </div>
          <% end %>

          <%= f.form_group :status, class: 'row' do |f| %>
            <%= f.label "Estado", class: 'control-label col-md-3' %>
            <div class='col-12 col-md-1'>
              <%= f.check_box :status, class: 'form-control', required: true %>
              <%= f.error_messages %>
            </div>
          <% end %>

        </div>

        <div class="d-flex">
          <div class="ml-auto">
            <%= f.submit class: 'btn btn-primary' %>
            <%= link_to "Cancelar", products_path, class: 'btn btn-outline-default' %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

