<% @title = "Productos" %>

<% content_for :description do %>
  <p>Lista de productos</p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_product_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= fa_icon_tag "plus" %> Nuevo producto
  <% end %>
<% end %>

<%= form_tag(products_path, :method => "get", id: "search-form", class: "horizontal-form") do %>
  <div class="form-inputs row">
    <div class="col-9 col-sm-10">
      <%= text_field_tag :search, params[:search], placeholder: "Buscar producto", class: "form-control" %>
    </div>
    <div class="">
      <%= submit_tag "Buscar", class: "btn btn-primary btn-large center" %>
    </div>
  </div>
<% end %>

<br>
<div class="card">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
<!--        <th>Categoría</th>-->
        <th>Nombre</th>
        <th>Código de barra</th>
        <th>Stock</th>
        <th>P. publico</th>
        <th>P. farmacias</th>
        <th>P. distribuidor</th>
        <th>Estado</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
<!--          <td><%#= product.product_category.nil? ? "" : product.product_category.name %></td>-->
          <td><%= product.name %></td>
          <td><%= product.bar_code %></td>
          <td><%= product.stock %></td>
          <td><%= product.prices.nil? ? "No disponible" : product.prices.price_public %></td>
          <td><%= product.prices.nil? ? "No disponible" : product.prices.price_farmacy %></td>
          <td><%= product.prices.nil? ? "No disponible" : product.prices.price_distribution %></td>
          <td>
              <span class="badge badge-<%= product.status ? "success" : "danger" %>">
                <%= product.status ? "Activo" : "Inactivo" %>
              </span>
          </td>
          <td class="actions text-right">
            <div class="btn-group">
              <%= link_to theme_icon_tag("eye"), product, 'data-toggle': 'tooltip', title: 'Ver', class: "btn btn-link" %>
              <%= link_to theme_icon_tag("pencil-alt"), edit_product_path(product), 'data-toggle': 'tooltip', title: 'Editar', class: "btn btn-link" %>
              <%= link_to theme_icon_tag("money"), product_product_prices_path(product), 'data-toggle': 'tooltip', title: 'Adm. precios', class: "btn btn-link" %>
              <!-- <%= link_to theme_icon_tag("trash"), product, 'data-toggle': 'tooltip', title: 'Delete',
                          data: {confirm: 'Está seguro?'}, method: :delete, class: 'btn btn-link' %>
                          -->
            </div>
          </td>
        </tr>
      <% end %>
      <% if @products.length == 0 %>
        <tr>
          <td colspan=42 class='text-center'>No hay productos registrados</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @products, :previous_label => '<', :next_label => '>' %>
