<% @title = "Lista de unidades de medida" %>

<% content_for :description do %>
  <p></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Nombre</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @measure.name %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Código</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span>
                    <%= @measure.code %>
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Estado</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                  <span class="badge badge-<%= @measure.status ? "success" : "danger" %>">
                  <%= @measure.status ? "Activo" : "Inactivo" %>
                </span>
              </div>
            </div>

            <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Editar', edit_measure_path(@measure), class: 'btn btn-primary' %>
                <%= link_to 'Atrás', measures_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
