<nav class="nav-side-menu   navbar-expand-lg">
  <%= render partial: 'layouts/side_menu_header' %>

  <div id="menu-content" class="navbar-collapse collapse">
    <div class="nav-side-container">
      <ul class="navbar-nav flex-column">
        <%= render partial: 'layouts/side_menu_main_content' %>

        <%= activatable_li_tag '/admin', "nav-item" do |url| %>
          <a href="<%= url %>" class="nav-link">
            <%= fa_icon_tag("tachometer") %>
            <span>Dashboard</span>
          </a>
        <% end %>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <%= fa_icon_tag("cube") %>
            <span>Productos</span>
            <span class="fa arrow"></span>
          </a>

          <ul class="nav-item nav-second-level nav-direct in collapse">
            <%= activatable_li_tag new_product_path, "nav-item" do |url| %>
              <%= link_to "Nuevo", url, class: "nav-link"  %>
            <% end %>
            <%= activatable_li_tag products_path, "nav-item" do |url| %>
              <%= link_to "Ver", url, class: "nav-link"  %>
            <% end %>

          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <%= fa_icon_tag("tags") %>
            <span>Categorías</span>
            <span class="fa arrow"></span>
          </a>

          <ul class="nav-item nav-second-level nav-direct in collapse">
            <%= activatable_li_tag new_product_category_path, "nav-item" do |url| %>
              <%= link_to "Nuevo", url, class: "nav-link"%>
            <% end %>
            <%= activatable_li_tag product_categories_path, "nav-item" do |url| %>
              <%= link_to "Ver", url, class: "nav-link" %>
            <% end %>
          </ul>
        </li>

        <%= activatable_li_tag customers_path, "nav-item" do |url| %>
          <a href="<%= url %>" class="nav-link">
            <%= ionicon_icon_tag("android-people") %>
            <span>Clientes</span>
          </a>
        <% end %>

        <%= activatable_li_tag countries_path, "nav-item" do |url| %>
          <a href="<%= url %>" class="nav-link">
            <%= fa_icon_tag("map") %>
            <span>Países</span>
          </a>
        <% end %>

        <%= activatable_li_tag measures_path, "nav-item" do |url| %>
          <a href="<%= url %>" class="nav-link">
            <%= fa_icon_tag("balance-scale") %>
            <span>Unidades de medida</span>
          </a>
        <% end %>

        <%= activatable_li_tag employees_path, "nav-item" do |url| %>
          <a href="<%= url %>" class="nav-link">
            <%= mdi_icon_tag("work") %>
            <span>Empleados</span>
          </a>
        <% end %>

        <%= activatable_li_tag users_path, "nav-item" do |url| %>
          <a href="<%= url %>" class="nav-link">
            <%= fa_icon_tag("user") %>
            <span>Usuarios</span>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
