<div class="navbar-header">
  <div class="profile">
    <%#= random_avatar 60, "rounded-circle profile-image" %>
    <div class="profile-body">
      <h6><%= user_signed_in? ? current_user.name : '' %></h6>
      <div class="user-links">
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Profile">
          <%= theme_icon_tag "user" %>
        </a>
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Messages">
          <%= theme_icon_tag "email" %>
        </a>
        <a class="btn btn-link" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings">
          <%= theme_icon_tag "settings" %>
        </a>
        <%= link_to(destroy_user_session_path, method: :delete, class:"btn btn-link", "data-placement":"bottom", "data-toggle":"tooltip", "data-original-title": "Salir" ) do %>
          <%= theme_icon_tag "power-off" %>
        <% end %>
      </div>
    </div>
  </div>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
